/*
  Colors from Blue Cheese theme

  .dark-blue    : #0678be;
  .dark-blue-50 : #83bcde;
  .dark-blue-40 : #9cc9e5;
  .dark-blue-30 : #b4d7eb;
  .dark-blue-20 : #cde4f2;

  tab coloring
               odd            even
  hover    :   .dark-blue === .dark-blue
  active   :   .dark-blue-40  .dark-blue-50
  inactive :   .dark-blue-20  .dark-blue-30

               odd            even
  hover    :   .dark-blue === .dark-blue
  active   :   grey           light-grey
  inactive :   dark-grey      #eee

  sketch from bojhan has
  - lightgrey : #DCDCDC
  - darkgrey  : #828282

  So a scheme could be
               odd            even
  hover    :   .dark-blue === .dark-blue
  active   :   grey           #dcdcdc
  inactive :   dark-grey      #828282

*/
.dreditor-tabs-container {
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.dreditor-tabs {
  text-align: right;
}
.dreditor-tabs .dreditor-tab {
  display: inline;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 4px;
  margin-top: 3px;
  color: black;
  padding: 2px 10px;
}
.dreditor-tabs.active .dreditor-tab {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dreditor-tabs.active > .dreditor-tab.active {
  /* .dark-blue-50 */
  background-color: #dcdcdc;
}
.dreditor-tabs.odd > .dreditor-tab.active {
  /* .dark-blue-40 */
  background-color: #bdbdbd;
}
.dreditor-tabs > .dreditor-tab {
  /* .dark-blue-30 */
  background-color: #828282;
}
}
.dreditor-tabs .dreditor-tab.active:hover ,
.dreditor-tabs .dreditor-tab:hover ,
.dreditor-tabs .dreditor-tab.odd:hover {
  /* .dark-blue */
  background-color: #0678be;
}
.dreditor-tab a:link,
.dreditor-tab a:visited,
.dreditor-tab a:active {
  text-decoration: none;
  color: black;
}
.dreditor-tab-content {
  clear:both;
  display: none;
  padding: 3px;
  /* .dark-blue-50 */
  background-color: #dcdcdc;
}
.dreditor-tab-content.odd {
  /* .dark-blue-40 */
  background-color: #bdbdbd;
}
.dreditor-tab-content.active {
  display: block;
}
